@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300&family=Roboto&display=swap');
:root{
  --background: background: rgb(174,195,237);
  --background-gradient: linear-gradient(90deg, rgba(174,195,237,1) 0%, rgba(112,144,209,1) 46%, rgba(44,75,139,1) 85%);
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  place-items: center;
  place-content: center;
  height: 100vh;
  background: var(--background);
background: var(--background-gradient);
}

main.App{
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  font-family: sans-serif;
  background-color: white;
  padding: 1rem;
  border-radius: .8rem;
  max-width: 65vw;
  box-shadow: var(--box-shadow)
}
.column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.box{
  height: 300px;
  width: 300px;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title{
  font-size: 2.5rem;
  color: black;
  margin: 2rem;
text-align: center;
}
.right {
  color: hsl(118, 44%, 47%)
}
.wrong {
  color: hsl(4, 79%, 56%);
}
.over{
  color:rgb(42,92,191);
}
.button{
  padding: .3rem;
  text-align: center;
  font-size: 1.3rem;
  border-radius: 5px;
  color: white;
  background-color: rgb(42,92,191);;
}
.button:hover{
  font-weight: bold;
  color: rgb(42,92,191);
  background-color: white;
  cursor: pointer;
}
.details{
 color: rgb(42,92,191);
}
ol {
  margin: 4rem;
  list-style-type: none;
}
li{
  border-radius: 5px;
  text-align: center;
   font-size: 1.6rem;
  color: black;
  cursor: pointer;
}
li:hover{
  background-color: rgba(134, 188, 223, 0.637);
  color:hsla(0, 0%, 17%, 1);
}
li:not(:last-child){
  margin-bottom: 1rem;
}
@media(max-width: 900px){
  .title{
    font-size: 1.7rem;
  }
  li{
    font-size: 1.4rem;
  }
  .row{
    font-size: .8rem;
  }
}
@media(max-width: 700px){
  .title{
    font-size: 1.3em;
    margin: 1.5rem;
  }
  li{
    font-size: 1rem;
  }
  .row{
    font-size: .8rem;
  }
}